@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');

:root {
    --roboto-font: 'Roboto', sans-serif;
    --roboto-mono-font: 'Roboto+Mono', monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

blockquote {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-left: 40px;
    margin-right: 40px;
}

code {
    font-family: var(--roboto-mono-font);
}

hr {
    width: 95%;
    margin: auto;
    border: 1px solid #d3d3d399;
}

ul {
    list-style: none;
}

ul>li {
    font-weight: bold;
    color: #0000005d;
}

.editor {
    font-family: var(--roboto-font);
    width: 720px;
    margin: 50px auto;
    box-shadow: 0px 5px 8px 1px rgb(174 170 245 / 70%);
    border-radius: 1%;
    padding: 1.5rem;
    line-height: 2rem;
}


.format-options {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    flex-direction: row;
    gap: .8rem;
    margin: 1rem;
}

.format-options>li {
    cursor: pointer;
    width: 1.6rem;
    border-radius: 10%;
}

.format-options>li:hover {
    color: #cc02cc;
}

.toolbar-container {
    margin-bottom: 1rem;
    font-family: var(--roboto-font);
    font-weight: 700;
}

.texto {
    padding: 0 1rem;
    outline: 0;
}

.material-symbols-outlined {
    font-size: 21px;
}