@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

:root {
    --roboto-font: 'Roboto', sans-serif;
    --serif-font:  serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    width: 95%;
    margin: auto;
    border: 1px solid #d3d3d399;
}

ul {
    list-style: none;
}

.roboto-font {
    font-family: var(--roboto-font);
}

.editor {
    width: 720px;
    /* height: 720px; */
    margin: 50px auto;
    box-shadow: 0px 5px 8px 1px rgb(174 170 245 / 70%);
    border-radius: 1%;
    padding: 1.5rem;
}


.format-options {
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
    margin: 1rem;
}

.format-options > li {
    cursor: pointer;
    width: 1.6rem;
    border-radius: 10%;
}

.format-options > li:hover {
   color: rgb(204, 2, 204);
}

.body-editor {
    outline: none;
    min-height: 2rem;
    padding: 1rem;
}

.text {
    outline: none;
}